<nav class="navbar-component">
  <div class="navbar-component__buttons-container">
    <img src="assets/logo.png" alt="GymTracker" class="navbar-component__logo" routerLink="/"/>
    <div class="card flex justify-content-center">
        <p-buttonGroup>
            <p-button label="Achievements" badge="3" icon="pi pi-trophy" routerLink="/achievements"/>
            <p-button label="Settings" icon="pi pi-cog"/>
            <p-button (click)="showDialog()" label="User" icon="pi pi-user" routerLink="/user"/>
            <p-button label="Premium" icon="pi pi-sparkles" severity="warn"/>
        </p-buttonGroup>
    </div>
  </div>
    <div class="navbar-component__timer">
      <app-timer (timeElapsed)="onTimeElapsed($event)" (trainingFinished)="onTrainingFinished($event)"></app-timer>
    </div>
  </nav>