<div class="achievements-component">
    <div class="achievements-component__content-left">
        <span>Today's achievements</span>
        <div class="movement-component__counter-box">
          <div class="movement-component__counter-left">
            LEFT ARM
            <div class="movement-component__counter-reps">{{ repsService.savedLeftArmReps() }}</div>
          </div>
          <div class="movement-component__counter-right">
            RIGHT ARM
            <div class="movement-component__counter-reps">{{ repsService.savedRightArmReps() }}</div>
          </div>
        </div>
    </div>
</div>