<div class="home-component">
    <div class="home-component__content">
        <div class="home-component__text">
            <div class="home-component__title">
                <span class="home-component__title-highlight">Start your workout with </span>
                <span class="home-component__title-highlight-name">Gym Tracker</span>
            </div>
            <div class="home-component__subtitle">
                <i class="pi pi-bolt" style="color: var(--p-yellow-500); font-size: 1.5rem;"></i>
                <span> Time to progress! Choose an area to train.</span>
            </div>
        </div>
        <app-interactive-image></app-interactive-image>
    </div>
</div>