<div class="movement-component">
    <div class="movement-component__camera">
      <video #videoElement class="movement-component__camera-video"></video>
      <canvas #canvasElement width="640" height="480" class="movement-component__camera-canvas"></canvas>
    </div>
    <div class="movement-component__counter">
      <div class="movement-component__camera-loading">
        @if (isLoading()) {
          <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" />
        }
      </div>
      <div class="movement-component__counter-box">
          <p-button icon="pi pi-play" [rounded]="true" severity="success" (click)="startCamera()"/>
        <div class="movement-component__counter-left">
          <span class="highlight" [class.active]="leftArmHighlight"></span>
          LEFT ARM
          <div class="movement-component__counter-reps">{{ leftArmReps() }}</div>
          <div class="movement-component__counter-angle">
            <span #leftAngleElement>{{ leftAngle() !== null ? leftAngle() + '°' : '-' }}</span>
          </div>
        </div>
        <div class="movement-component__counter-right">
          <span class="highlight" [class.active]="rightArmHighlight"></span>
          RIGHT ARM
          <div class="movement-component__counter-reps">{{ rightArmReps() }}</div>
          <div class="movement-component__counter-angle">
            <span #rightAngleElement>{{ rightAngle() !== null ? rightAngle() + '°' : '-' }}</span>
          </div>
        </div>
        <p-button icon="pi pi-stop" [rounded]="true" severity="danger" (click)="stopCamera()" [disabled]="!mediaStream"/>

      </div>
  </div>