<div class="movement-component">
    <div class="movement-component__camera">
      <video #videoElement class="movement-component__camera-video"></video>
      <canvas #canvasElement width="640" height="480" class="movement-component__camera-canvas"></canvas>
      <div class="movement-component__camera-loading">
        @if (isLoading()) {
          <span>Loading...</span>}
      </div>
      <div class="movement-component__camera-controls">
        <button (click)="startCamera()">Start</button>
        <button (click)="stopCamera()" [disabled]="!mediaStream">Zatrzymaj</button>
      </div>
    </div>
    <div class="movement-component__counter">
      <div class="movement-component__counter-box">
        <div class="movement-component__counter-left">
          <span class="highlight" [class.active]="leftArmHighlight"></span>
          LEFT ARM
          <div class="movement-component__counter-reps">{{ leftArmReps() }}</div>
          <div class="movement-component__counter-angle">
            <span #leftAngleElement>{{ leftAngle() !== null ? leftAngle() + '°' : '-' }}</span>
          </div>
        </div>
        <div class="movement-component__counter-right">
          <span class="highlight" [class.active]="rightArmHighlight"></span>
          RIGHT ARM
          <div class="movement-component__counter-reps">{{ rightArmReps() }}</div>
          <div class="movement-component__counter-angle">
            <span #rightAngleElement>{{ rightAngle() !== null ? rightAngle() + '°' : '-' }}</span>
          </div>
        </div>
      </div>
  </div>