/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


body
{
  font-family: "Funnel Display", sans-serif;
  margin: 0px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #f7f7f793, #e5e5e5);

}

:root {
  --p-primary-color: var(--p-teal-800);
  --ground-background: #ffffff;
  --p-surface-0: #ffffff;
  --p-surface-900: #212121;
  --p-text-secondary: #495057; 
}
